body{color: black;}
ul{position: absolute;
width: 200px; height:200px;
top: 80px;

flex-direction: column;
list-style: none;
opacity: 0; 
float: right;;
overflow: hidden;
}
li{background-color: blueviolet;
    border: 1px solid black;
height: 50px;
width: 200px;} 
button{flex-direction: row;
justify-content: flex-end;
display: flex;
background-color: coral;
padding: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: relative;
border: none;





}
button:hover{background-color: brown;
}
button:focus+ul{opacity: 1;
pointer-events: all; justify-content: flex-end;}

#div1{ }
#div2{}
#div3{}
#div4{ }
#div5{}
#div6{}
#div7{}


.dropdown{background-color: blueviolet;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}


